body {
  background-color: #66bfbf;
  margin: 0px;
  text-align: center;
}

.h1 {
  width: 10%;
  margin-top: 0 auto;
}

.top_container {
  background-color: #E4F9F5;
}

.middle_container {
  /* background-color: red;
  width: 200px;
  height: 200px; */
}

.bottom_container {
  background-color: blue;
}

.top_cloud {
  /* position: absolute; */
}

.bottom_cloud {
  position: absolute;
}